<%layout("/layouts/boilerplate")%>

<body>
    <h3>All listings</h3>
    <!-- <form action="/listings/new" method="GET">
        <button>Create a new request</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2">
        <% for(let listing of listings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col" >
                <img src="<%=listing.image.url%>" class="card-img-top" alt="Image" style="height: 18rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                 <b> <p class="card-text"><%=listing.title%></b>
                <br>
                &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
                </p>
                </div>
              </div>
            </a>
              <% } %>
    </div>
   
   

</body>

